@{
    ViewData["Title"] = @T.T("Privacy Policy");
}
@using RealTimeCollaborationSystem.Services.Interfaces
@inject ITranslationService T
<h1>@ViewData["Title"]</h1>

<p>@T.T("Using this page to detail the site's privacy policy.")</p>
